
<div class="contenedor-paginas">
{{#if errorMessage}}
<p class="error-message">
  {{ errorMessage }}
</p>
{{/if}}
<div class="container-form-login">
  <div class="form-login">
    <form class="form-style-login" action="/auth/login" method="post">
      
      <div>
        <label for="email-input"> Email </label>
        <input class="controls-add" type="email" name="email" id="email-input">
      </div>
      <div>
        <label for="password-input"> Password </label>
        <input class="controls-add" type="password" name="password"
          id="password-input">
      </div>
      <div class="containerlogin-create">
        <button class="btn"type="submit">Log In</button>
      </div>
    </form>
  </div>
</div>
<div class="signup-section"> 
  <div class="signup-align">
    <p>Don't have an account?</p>
    <button><a class="signup-button" href="/auth/signup">Create</a></button>
  </div>
</div>
</div>