
{{#if errorMessage}}
<p class="error-message">
  {{ errorMessage }}
</p>
{{/if}}

<div class="container-form">
  <div class="form-add-dog">
    <form action="/auth/login" method="post">

      <p>Login</p>

      <div>
        <label for="email-input"> Email </label>
        <input class="controls-add" type="email" name="email" id="email-input"
          placeholder="e.g., xena@warrior.company">
      </div>

      <div>
        <label for="password-input"> Password </label>
        <input class="controls-add" type="password" name="password"
          id="password-input"
          placeholder="e.g., ••••••••••••">
      </div>

      <div>
        <button type="submit">Log In</button>
      </div>

    </form>
  </div>
</div>

<div class="account-section"> ​
  <div class="account-align">
    <p>Don't have an account?</p>
    <button><a class="color-letter" href="/auth/signup">Create</a></button>
  </div>
</div>