<h2>EDIT YOUR PROFILE - TEST</h2>


<form action="/edituser" method="post">

  <div>
    <label for="namedog">Namedog</label>
    <input type="text" name="text">
  </div>

  <div>
    <label for="">Image</label>
    <input type="file" name="image">
  </div>

  <div>
    <label for="">Breed</label>
    <input type="text" name="breed">
  </div>

  <div>
    <label for="">Sex</label>
    <input type="text" name="sex" id="sex-input"
      placeholder="e.g., male female">
  </div>

  <div>
    <label for="">Telephone</label>
    <input type="text" name="telephone">
  </div>

  <div>
    <label for="">Description</label>
    <input type="text" name="text">
  </div>

  <div>
    <label for="">Age</label>
    <input type="text" name="text">
  </div>

  <div>
    <label for="">Weigth</label>
    <input type="text" name="text">
  </div>

  <div>
    <label for="">CP</label>
    <input type="text" name="text">
  </div>

  <button type="submit">EDIT</button>
</form>
