<div class="contenedor-paginas2">
<div class="container">

    <div class="page-header">
         <br>
      <h1>Furi the Ironhack star dog falls in love with Darda</h1>
    </div>
  
    <div class="row">
  
      <div class="col-md-8">
        <article id="">
          <header>
             
            <div class="meta">
  
              Written by <span class="author">Juan de Francia</span> <span class="date">1/30/16</span> | <span class="comments"><span class="badge">4</span> Comments</span>
            </div>
            
            <article id="">
          <header>
          </header>
          <div class="entry-content">
            <a href="">
              <img src="/images/20200209_125008.jpg" alt="" class="img-fluid" />
            </a>
            <h3 class="textoBlog">Rumors of romance between Darda and Furi grow, although days ago he was seen barking with a poodle lady.</h3>
            <br>
             <h1 class="darda">Darda doesn't seem to mind the rumors, she just wants a good piece of meat</h1>
             <img src="/images/darda.jpg" alt="" class="img-fluid" />
        </article>
   
   <article id="articulo3">
          <header>
            <div class="meta">
  
              Written by <span class="author">Pedro picapiedra</span> <span class="date">1/30/16</span> | <span class="comments"><span class="badge">4</span> Comments</span>
            </div>
            <h2>After the rumors, Darda has a lost look</h2>
          </header>
          <div class="entry-content">
            <a href="">
              <img src="/images/dardaplaya.jpg" alt="" class="img-fluid" />
            </a>
            <p>Well, yes and no. Can dogs fall in love? ... Your dog might not take a date out for dinner, but some experts say they can fall in love, in their own way. Read on to learn how dogs might fall in love with each other, with other animals, or with people.</p>
  
            <a href="#" class="btn btn-primary">Read More <span class="glyphicon glyphicon glyphicon-chevron-right" aria-hidden="true"></span></a>
          </div>
          <footer>
          </footer>
        </article>
        
  
  
      </div>
      <aside class="col-md-4">
  
        <div class="card mb-3">
          <h3 class="card-header mb-3">Join our Newsletter</h3>
          <form class="form-horizontal">
            <div class="form-group">
              <div class="col-sm-12">
                <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
              </div>
            </div>
  
            <div class="form-group">
              <div class="col-sm-12">
                <button type="submit" class="btn btn-primary">Join Us</button>
              </div>
  
            </div>
          </form>
  
        </div>
  
        <h3></h3>
        <div class="list-furi  mb-3">
          
          <a href="">
            </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Furi was discovered</h4>
            <img src="/images/furiAmor.jpg" alt="" class="img-fluid" />
            <p class="list-group-item-text"> the cheating of the year, they accuse him of leaving with a cat &hellip;
            </p>
          </a>
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Winter is comming</h4>
            <img src="/images/furiduerme.jpg"  alt="" class="img-fluid" />
            <p class="list-group-item-text">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, optio eum &hellip;
            </p>
          </a>
        
          <a href="#" class="list-group-item">
            <h4 class="list-group-item-heading">Last release</h4>
            <img src="/images/814yxh8pjAL._AC_SY450_.jpg" alt="" class="img-fluid" />
            <p class="list-group-item-text">The ultimate in dog food, fortifies bones and improves joints &hellip;
            </p>
          </a>
        </div>
        </div>