<p> Welcome to ohmydog. </p>

{{#if isUserLoggedIn}}
  <p> Hello, {{ currentUserInfo.name }}. </p>
{{/if}}

<nav>
  <ul>
    {{#if isUserLoggedIn}}
     <li> <a href="/users/profile"> My Profile</a> </li>
      <li> <a href="/users/homeprivate"> Go Home </a> </li>
      <li> <a href="/auth/logout"> Log Out </a> </li>
    {{else}}
      <li> <a href="/auth/signup"> Sign Up </a> </li>
      <li> <a href="/auth/login"> Log In </a> </li>
    {{/if}}
  </ul>
</nav>
