
    {{!-- <div class="prueba">
          <h5 class="testeo" style="font-size: 29px; color:blue">hola</h5>
    </div> --}}
     
     <div class="pruebastyle">
      <div class="capa-gris">
      <h2 class="tituloppal">FIND THE SMELL<br> OF YOUR DOG LIFE</h2>
      <p class="textoppal">we know how important <br>our four-legged friends are<br> so we want to find them <br> the perfect match</p>
        <div class="contenedor-boton row">
          
          <button type="button" class="btn"><a href="/auth/signup" class="links-homepage">REGISTER</a> </button>
          <button type="button" class="btn"><a href="/auth/login" class="links-homepage">LOGIN</a></button>
        </div>
      </div>
   </div>
    <footer class="contenedor-footer">
    </footer>
    
    
   


 
     
   