
<nav>
  <ul>
    <li><a href="/profile">My profile</a></li>
    <li><a href="/logout">Log Out </a> </li>
  </ul>
</nav>


<h2>To give a review in other profile</h2>

<p>Add a review</p>
<form action="/reviews/add?user_id={{user._id}}" method="post">
  <label for="">username</label>
  <input type="text" name="username">

  <label for="">Comments:</label>
  <textarea type="text" name="comments"></textarea>

  <button type="submit">ADD</button>
</form>