
/* Codigo de Index */

body{
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    
}

.btn{

    width:100%;
    height:100%;
    font-size:16px;
    border-radius: 20px;
    border-color: #ECC046;
    background-color: #DC7726;
    text-align: center;
    margin-top:5px;
    color:white !important;
   

}


.links-homepage {
    text-decoration: none;
    color: white;
}

  
.tituloppal{
    
    padding-top: 50px;
    font-size: 25px;
    color: white;
    text-align: center !important;
   
}
.textoppal{
    color: white;
    text-align: center;
    margin-top: 40px;
    margin-left: 10px

}

.contenedor-boton{
    
    
    height: 35px;
    width: 120px;
    margin:auto;
    display: flex;
    margin-top: 70px;
    justify-content:center;
}
​


​


.tituloppal:hover{
    color:#ECC046;
}
​
.textoicono{
    color: black;
    
}

.pruebastyle{
   
    background-image: url("/images/portadamobile.jpg");
    width: 100%;
    height: 580px;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 100%;
    
}

 .capa-gris{
    background-color: rgba(122, 120, 120, 0.619);
    height: 100%;
} 
.navbar-brand{
    display: flex;
    align-items: center;
}
​
.textoicono{
    padding-left: 8px;
    font-size: 20px;
   
}
​

​

​

​


/* hasta aca estilo de home */

/* empieza estilo de profile */
.contenedor-profileImage {
  /* border: 2px solid red; */
  font-family: "Roboto Condensed", sans-serif;
  width: 100%;
}

.fotoperfil {
  /* border: 2px solid blue; */
  width: 100vw;
}

.nombre {
  /* border: 2px solid #42c0d2; */
  background-color: #42c0d2;
  border-radius: 2%;
  color: white;
  padding: 2%;
  /* margin: 3%; */
}

.epigrafe {
  /* border: 2px solid fuchsia; */
  font-size: 1rem;
  padding: 2%;
  margin: 2%;
}

.eselform {
  /* border: 2px solid blue;  */
  width: 70%;
  padding: 4% 0%;
}

.container-edit-form {
  /* border: 2px solid red;  */
  margin-top: 3%;
}

.formulario-general {
  /* border: 2px solid red;  */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 2%;
  width: 100%;
  /* box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
    rgba(84, 70, 35, 0.15) 0px 1px 3px; */
}

.formulario-general p {
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #42c0d2;
}

.formulario-general input {
  /* border: 2px solid fuchsia;  */
  width: 100%;
  margin-bottom: 3%;
  padding: 1%;
}

.formulario-general label {
  /* border: 2px solid rgb(229, 255, 0);  */
  margin-bottom: 1%;
  margin-top: 3%;
}

.container-edit-button1 {
  /* border: 2px solid rgb(216, 100, 54); */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 6%;
  margin-bottom: 2%;
  width: 100%;
}

.edit-button1 {
  /* border: 2px solid black; */
  margin: 0px;
  padding: 2%;
  width: 60%;
  color: black;
  border: rgb(238, 234, 234);
  background-color: rgb(238, 234, 234);
}

.campo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(218, 212, 212);
  color: rgb(131, 125, 125);
}

.container-footer {
  /* border: 2px solid blue; */
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navbar-footer {
  box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
    rgba(84, 70, 35, 0.15) 0px 1px 3px;
  background-color: #42c0d2;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 2%;
  width: 100%;
  position: sticky;
}

.footer-letter {
  color: white;
}

@media (min-width: 576px) {
  .formulario-general {
    width: 80%;
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
      rgba(84, 70, 35, 0.15) 0px 1px 3px;
  }
}

@media (min-width: 768px) {
  .formulario-general {
    width: 70%;
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
      rgba(84, 70, 35, 0.15) 0px 1px 3px;
  }
}


/*-------------DOG DETAILS--------------*/
.fotoDogDetail{
    width: 100vw;
    
}
.name-dog{
    background-color: #42C0D2;
    padding-left:10px;
    color: white;

}
.contenedor-formulariodogs{
    
    width: 300px;
    align-content: center;
    padding-left: 10px;
    color: rgb(175, 170, 170);
    
}
.breed{
    text-align:left;
    padding-left: 5px;
    
    
}

.form-review{
    flex-direction: column;
}



/* empieza estilo de signup */
.container-form {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-tocomplete {
  /* border: 2px solid coral; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 2%;
}
.form-tocomplete p {
  /* border: 2px solid brown; */
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 0px;
  color: #dc7726;
}
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(218, 212, 212);
  color: rgb(131, 125, 125);
}

.form-tocomplete label {
  /* border: 2px solid yellow; */
  margin-bottom: 2px;
}

.form-tocomplete input {
  /* border: 2px solid fuchsia; */
  width: 100%;
  margin-left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 0px;
}
.account-section {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
  align-items: center;
}

.account-section button {
  /* border: 2px solid lightseagreen; */
  margin: auto;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  border: rgb(238, 234, 234);
  background-color: rgb(238, 234, 234);
  text-decoration: none;
  padding: 4px;
  width: 50%;
}

.login-button {
  /* border: 2px solid greenyellow; */
  color: white;
  margin: 0px;
  padding: 0px;
  width: 40%;
  /* border: #dc7726; */
  /* padding: 4px; */
  width: 100%;
  color: black;
}

.container-create {
  /* border: 2px solid violet; */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 0px;
}

.account-button {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin-top: 10px; */
  border: #dc7726;
  background-color: #dc7726;
  color: white;
  padding: 2%;
  width: 60%;
}

.account-align {
  /* border: 2px solid lightpink; */
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50%;
}

@media (min-width: 576px) {
  .form-tocomplete {
    /* border: 2px solid coral; */
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
      rgba(84, 70, 35, 0.15) 0px 1px 3px;
    width: 80%;
  }

  .container-form {
    margin-top: 3%;
  }
}

@media (min-width: 768px) {
  .form-tocomplete {
    /* border: 2px solid coral; */
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
      rgba(84, 70, 35, 0.15) 0px 1px 3px;
    width: 70%;
  }

  .formclass {
    /* border: 2px solid yellow; */
    width: 70%;
  }

  .form-tocomplete input {
    /* border: 2px solid fuchsia; */
    padding: 1%;
  }
}
/* empieza estilo de newdog */

.form-add-dog {
  /* border: 2px solid coral; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 2%;
  width: 80%;
}
.form-add-dog p {
  /* border: 2px solid brown; */
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #dc7726;
}
.controls-add {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgb(218, 212, 212);
  color: rgb(131, 125, 125);
}

.form-add-dog label {
  /* border: 2px solid yellow; */
  margin-bottom: 2px;
}

.form-add-dog input {
  /* border: 2px solid fuchsia; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.colorletter-cancel {
  color: black;
}

.container-button {
  /* border: 2px solid rgb(130, 238, 148); */
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 0px;
  align-items: center;
  width: 100%;
}

.dad-buttons {
  /* border: 2px solid rgb(214, 38, 38); */
  padding: 10px;
  width: 100%;
}

.submit-button {
  /* border: 2px solid greenyellow; */
  color: white;
  margin: 0px;
  padding: 0px;
  border: #dc7726;
  background-color: #dc7726;
  width: 40%;
  /* border: #dc7726; */
  padding: 4px;
  margin-bottom: 3%;
}

.cancel-button {
  /* border: 2px solid blue; */
  color: white;
  margin: 0px;
  padding: 0px;
  width: 40%;
  align-items: center;
  border: rgb(238, 234, 234);
  background-color: rgb(238, 234, 234);
  padding: 4px;
  margin-bottom: 3%;
}

.form-style {
  width: 100%;
}

@media (min-width: 576px) {
  .form-add-dog {
    /* border: 2px solid coral; */
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
      rgba(84, 70, 35, 0.15) 0px 1px 3px;
    padding-top: 3%;
    width: 80%;
  }

  .container-form {
    margin-top: 3%;
  }

  .form-style {
    /* border: 2px solid yellow; */
    width: 60%;
  }

  .form-add-dog input {
    /* border: 2px solid fuchsia; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .form-add-dog {
    /* border: 2px solid coral; */
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
      rgba(84, 70, 35, 0.15) 0px 1px 3px;
    padding-top: 3%;
    width: 70%;
  }

  .form-style {
    /* border: 2px solid yellow; */
    width: 70%;
  }

  .form-add-dog input {
    /* border: 2px solid fuchsia; */
    padding: 1%;
    width: 100%;
  }
}

/* ------------------empieza login------------------------- */
.container-form-login {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8%;
}

.form-style-login {
  /* border: 2px solid violet; */
  width: 70%;
}

.form-login {
  /* border: 2px solid coral; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  border-radius: 2%;
  width: 80%;
  padding-top: 2%;
}
.form-login p {
  /* border: 2px solid brown; */
  margin-top: 0px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #dc7726;
}

.form-login label {
  /* border: 2px solid yellow; */
  margin-bottom: 1%;
  margin-top: 4%;
}

.form-login input {
  /* border: 2px solid fuchsia; */
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 4%;
}

.account-loginbutton {
  /* border: 2px solid rgb(124, 124, 194); */
  display: flex;
  justify-content: center;
  align-content: center;
  /* margin-top: 10px; */
  border: #dc7726;
  background-color: #dc7726;
  color: white;
  padding: 2%;
  width: 40%;
}

.signup-section {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-content: center;
  margin-top: 0px;
  align-items: center;
  margin-top: 4%;
}

.signup-section button {
  /* border: 2px solid lightseagreen; */
  margin: auto;
  margin-bottom: 3%;
  display: flex;
  justify-content: center;
  border: rgb(238, 234, 234);
  background-color: rgb(238, 234, 234);
  text-decoration: none;
  padding: 3px;
  width: 50%;
}

.containerlogin-create {
  /* border: 2px solid rgb(130, 213, 238); */
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: row;
  margin-top: 10%;
}

.signup-align {
  /* border: 2px solid rgb(216, 15, 45); */
  display: flex;
  text-align: center;
  flex-direction: column;
  width: 50%;
  margin-top: 4%;
}

.signup-button {
  /* border: 2px solid greenyellow; */
  color: white;
  margin: 0px;
  padding: 0px;
  width: 40%;
  /* border: #dc7726; */
  /* padding: 4px; */
  width: 100%;
  color: black;
}

@media (min-width: 576px) {
  .form-login {
    /* border: 2px solid coral; */
    box-shadow: rgba(84, 70, 35, 0.15) 0px 2px 8px,
      rgba(84, 70, 35, 0.15) 0px 1px 3px;
    padding: 4% 0%;
    width: 70%;
  }

  .signup-section {
    /* border: 2px solid blue; */
    margin-top: 2%;
  }

  .form-style-login {
    /* border: 2px solid violet; */
    width: 60%;
  }
}

@media (min-width: 768px) {
  .form-style-login {
    /* border: 2px solid violet; */
    width: 50%;
  }
}

@media (min-width: 992px) {
  .form-style-login {
    /* border: 2px solid violet; */
    width: 70%;
  }

  .form-login input {
    /* border: 2px solid fuchsia; */
    padding: 1%;
  }

  .form-login {
    /* border: 2px solid coral; */
    margin-top: 0px;
  }

  .signup-align {
    /* border: 2px solid rgb(216, 15, 45); */
    margin-top: 2%;
  }

  .container-form-login {
    /* border: 2px solid blue; */
    margin-top: 4%;
  }
}

  /*------------- empieza home private--------------------- */

 .card-title{
     color: #DC7726;
 }

  .card{
   
      margin:auto;
      margin-top: 20px;
   
  }

 .razadeperro{
     font-style: italic;
   
 }

 .formulario-buscar{
   display: flex;
   flex-direction: row;
   width: 325px;
   margin: auto;
   padding-top: 30px;
  
 }

 .form-group2{
   margin: auto;
   justify-content: space-around;
 }

 .botonSearch{
   border-radius: 20px;
   border-color: #ECC046;
   background-color: #DC7726;
   color: white;
   box-shadow: none;
   border: solid;
   
 }

  /*------------- blog--------------------- */

   
  article {margin-bottom:2em;padding-bottom:2em;border-bottom:1px solid #ccc;}

  .social a {
    padding: 0 .5em;
  }
  
  .page-header {
    margin-bottom:2rem;
  }

  .textoblog{
    color:#DC7726;
    font-style: italic;
    font-size: 24px;
  }

  .textoBlog{
    font-style: italic;
  }

  .entry-content1{
    padding-top: 10px;
  }

  #articulo3{
    padding-top: 15px;
  }

  .list-group-item {
    text-decoration: none;
    color:#42C0D2;
  }

  .list-group-item-text{
    color:black !important;
  }